<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <system.serviceModel>
  <services>
   <service behaviorConfiguration="EchoService.EchoServiceBehavior" name="EchoService.EchoService">
    <endpoint address="JSON" binding="webHttpBinding" contract="EchoService.EchoService" behaviorConfiguration="jsonBehavior"/>
    <endpoint address="Wcf" binding="wsHttpBinding" contract="EchoService.EchoService" />
    <endpoint address="Basic" binding="basicHttpBinding" contract="EchoService.EchoService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <endpoint binding="netTcpBinding" contract="EchoService.EchoService" />
    <endpoint address="mex"  binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <!-- 
        You might have to type the following command to get this to work in Windows 7:
        netsh http add urlacl url=http://+:8731/ user=DOMAIN\user
        See also: http://msdn.microsoft.com/en-us/library/ms733768.aspx
      -->
      <add baseAddress="http://localhost:8731/EchoService/" />
      <add baseAddress="net.tcp://localhost:8732/EchoService/" />
     </baseAddresses>
    </host>
   </service>
  </services>
  <behaviors>
   <serviceBehaviors>
    <behavior name="EchoService.EchoServiceBehavior">
     <serviceMetadata httpGetEnabled="True"/>
     <serviceDebug includeExceptionDetailInFaults="True" />
    </behavior>
   </serviceBehaviors>
   <endpointBehaviors>
    <behavior name="jsonBehavior">
     <enableWebScript/>
    </behavior>
   </endpointBehaviors>
  </behaviors>
 </system.serviceModel>
</configuration>
